
@import 'bourbon/bourbon';
@import 'neat/neat';

@import 'base/breakpoints';
@import 'base/variables';
@import 'base/base';

html, body {
  margin: 0;
  padding: 0;
}

.navigation {
  padding: 0.25rem;
}

.toolbar {
  border: 8px solid rgb(182, 182, 182);
  border-bottom: none;
  display: block;
  font-size: 0;
}
  .tool {
    background-color: rgb(183, 204, 174);
    border: none;
    margin: 0;
    padding: 0 0.25rem;
    height: 2rem;
    font-size: initial;

    &:hover {
      transition: 0.3s all;
      transform: scale(1.5);
      transform-style: preserve-3d;
      z-index: 99;
    }
    &:focus {
      outline: none;
      border: none;
    }

    &.active {
      color: white;
    }
  }

.colors {
  border: 8px solid rgb(182, 182, 182);
  display: block;
}

.color {
  color: rgb(255, 255, 255);
  border: none;
  margin: 0;
  padding: 0;
  height: 2rem;
  width: 2rem;
}

.color:hover {
  transition: 0.3s all;
  transform: scale(1.5);
  transform-style: preserve-3d;
  z-index: 99;
}

.color:focus {
  outline: none;
  border: none;
}


.paper {
  width: 100%;
  cursor: none;
  canvas {
    position: absolute;
    padding: 0;
    z-index: -1;
  }
}
